
@{
    ViewBag.Title = "LuuDangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ĐĂNG KÝ HỌC PHẦN</h1>
<table align="center" border="1">
    <tr style="text-align:center; font-weight:bold">
        <td>  Mã học phần </td>
        <td> Tên học phần </td>
        <td> Số tín chỉ </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align:center; font-weight:bold">
            <td> @item.sMahocphan </td>
            <td> @item.sTenhocphan</td>
            <td> @item.iSotinchi</td>        
        </tr>
    }
    <tr style="font-weight: bold; text-align:right; color:red">
        <td colspan="3"> Số tín chỉ: @ViewBag.Tongsoluong </td>
        <td colspan="3"> Số học phần: @ViewBag.Tongsoluonghocphan </td>
    </tr>
    <tr style="font-weight: bold; text-align:center; color:red">
        <td colspan="6"> <a href="@Url.Action("GioHang","GioHang")"> TRỞ VỀ TRANG GIỎ HÀNG  </a></td>
    </tr>
</table>


@using KiemTra_NguyenAnhTuan.Models
<h2 style="text-align:center">THÔNG TIN ĐĂNG KÝ</h2>
@{
    SinhVien sv = (SinhVien)Session["Taikhoan"];
}
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td> Họ tên:</td>
            <td style="font-weight:bold">  @sv.HoTen </td>
        </tr>
        <tr style="height:40px">
            <td> Ngày sinh:</td>
            <td style="font-weight:bold">  @sv.NgaySinh </td>
        </tr>
        <tr style="height:40px">
            <td> Ngành học:</td>
            <td style="font-weight:bold">  @sv.NganhHoc </td>
        </tr>

        <tr style="height:40px">
            <td> Ngày Đăng ký:</td>
            <td style="font-weight:bold"> @DateTime.Now.ToShortDateString() </td>
        </tr>
        
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" class="btn btn-success" value="Xác nhận" />
            </td>
        </tr>
    }
</table>

